<div class="container">
        <div *ngIf="loading" class="loading-indicator">
                <mat-spinner></mat-spinner>
            </div>
        <mat-card class="register-card" style="text-align: center;">
                <mat-card-title>Profile</mat-card-title>
                <mat-divider></mat-divider>
                <mat-card-content class="p-2">
                        <form style="margin-left: 1em" [formGroup]="form" (submit)="submit()">
                                 <!-- Student Id-->
                                <mat-form-field class="full-width">
                                    <input matInput placeholder="Student Id" [value]="student?.studentId" formControlName="studentId" readonly>
                                </mat-form-field>
                                <!-- Name and Surname -->
                                <table class="full-width" cellspacing="0">
                                    <tr>
                                        <td>
                                            <mat-form-field class="full-width">
                                                <input matInput placeholder="Firstname" [value]="student?.name" formControlName="name" readonly>
                                            </mat-form-field>
                                        </td>
                                        <td>
                                            <mat-form-field class="full-width">
                                                <input matInput placeholder="Surname" [value]="student?.surname" formControlName="surname" readonly>                                  
                                            </mat-form-field>
                                        </td>
                                    </tr>
                                </table>
                                <!-- Date of Birth -->
                                <span>
                                    <mat-form-field class="full-width">
                                        <input disabled matInput placeholder="Date of Birth" [min]="minDate" [value]="student?.dob" [max]="maxDate"
                                            [matDatepicker]="picker" formControlName="dob" readonly>
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                    </mat-form-field>
                                </span>
                                <!-- Email -->
                                <mat-form-field class="full-width" >
                                    <input readonly matInput placeholder="Email" [value]="student?.email" formControlName="email">
                                </mat-form-field>
                                <!-- Image -->
                                <div class="row">
                                        <div class="col-sm-12">
                                                <div class="text-center">
                                                        <img mat-card-image 
                                                        id="previewImg" 
                                                        class="rounded float" 
                                                        #previewImg [attr.src]="student?.image" 
                                                        onerror="this.src='assets/images/person-icon.png'">
                                                </div>  
                                        </div>
                                </div>
                                <mat-divider></mat-divider>
                                <div class="center pt-4">
                                    <!-- Button to go to update profile page -->
                                    <button mat-raised-button 
                                        color="primary" 
                                        [routerLink]="['../update']" 
                                        type="submit">
                                        <i class="material-icons icon">edit</i>
                                        Edit profile
                                    </button>
                                </div>
                            </form>
                    </mat-card-content>
            </mat-card>
</div>
