<div class="mat-elevation-z8">
        <div *ngIf="loading" class="loading-indicator">
                <mat-spinner></mat-spinner>
            </div>
    <!-- Date filter block -->
    <mat-card class="filter-card" style="text-align: center;" class="filter-form mx-auto py-2">
            <mat-card-title >Activity list</mat-card-title>
            <mat-divider></mat-divider>
            <mat-card-content class="p-2">
            <form class="date-block" [formGroup]="filterForm">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="date-block__list">
                            <mat-form-field>
                                <input readonly matInput [matDatepicker]="fromDate" placeholder="Register Start Date"
                                    formControlName="fromDate">
                                <mat-datepicker-toggle matSuffix [for]="fromDate"></mat-datepicker-toggle>
                                <mat-datepicker #fromDate></mat-datepicker>
                            </mat-form-field>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="date-block__list">
                            <mat-form-field>
                                <input readonly matInput [matDatepicker]="toDate" placeholder="Register End Date"
                                    formControlName="toDate">
                                <mat-datepicker-toggle matSuffix [for]="toDate"></mat-datepicker-toggle>
                                <mat-datepicker #toDate></mat-datepicker>
                            </mat-form-field>
                            </div>
                        </div>       
                    </div>
                    <div class="row">
                        <div class="col-sm-6 mx-auto">
                            <mat-form-field>
                            <input formControlName="name" class="full-width" matInput placeholder="Name">
                            </mat-form-field>
                        </div>
                    </div >
                    <mat-divider></mat-divider>
                    <div class="row">
                            <div class="col-sm-6 pt-2 ">
                                <div class="center">      
                                    <!--Reset filter-->
                                        <button class="full-width" 
                                        [disabled]="!filterForm.valid" 
                                        mat-button color="primary"
                                        (click)="reset()">
                                        <i class="material-icons">replay</i>Reset</button>
                                </div>
                            </div>
                            <div class="col-sm-6 pt-2 ">
                                    <!--Search-->
                                    <button class="full-width"[disabled]="!filterForm.valid" mat-raised-button color="primary"
                                    (click)="filterResult(filterForm.value)"><i class="material-icons">search</i>Search</button>                  
                            </div>
                    </div>   
            </form>
        </mat-card-content>
            </mat-card>
    <table mat-table class="full-width-table" matSort aria-label="Elements">
        <!-- Id column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
            <td mat-cell *matCellDef="let activity">{{activity.id}}</td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <!-- ActivityId Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Activity ID</th>
            <td mat-cell *matCellDef="let activity">{{activity.name}}</td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <!-- Location Column -->
        <ng-container matColumnDef="location">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Location</th>
            <td mat-cell *matCellDef="let activity">{{activity.location}}</td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <!-- Description Column -->
        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
            <td mat-cell *matCellDef="let activity">{{activity.description}}</td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
             <!-- hostTeacher Column -->
             <ng-container matColumnDef="hostTeacher">
                    <th mat-header-cell *matHeaderCellDef>Host Teacher</th>
                    <td mat-cell *matCellDef="let activity">{{activity.host.name }} {{activity.host.surname}}</td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>
                <!-- regisPeriodStart Column -->
                <ng-container matColumnDef="regisPeriodStart">
                    <th mat-header-cell *matHeaderCellDef>Regis Period Start</th>
                    <td mat-cell *matCellDef="let activity">{{activity.regisPeriodStart | date }}</td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>
                <!-- regisPeriodEnd Column -->
                <ng-container matColumnDef="regisPeriodEnd">
                    <th mat-header-cell *matHeaderCellDef>Regis Period End</th>
                    <td mat-cell *matCellDef="let activity">{{activity.regisPeriodEnd | date }}</td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>
                <!-- activityPeriodStart Column -->
                <ng-container matColumnDef="activityPeriodStart">
                    <th mat-header-cell *matHeaderCellDef>Activity Start Date</th>
                    <td mat-cell *matCellDef="let activity">{{activity.activityPeriodStart | date:'MMM d, y,  h:mm a'}}</td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>
                <!-- activityPeriodEnd Column -->
                <ng-container matColumnDef="activityPeriodEnd">
                    <th mat-header-cell *matHeaderCellDef>Activity End Date</th>
                    <td mat-cell *matCellDef="let activity">{{activity.activityPeriodEnd | date:'MMM d, y,  h:mm a'}}</td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>
        <!-- Status Column -->
        <ng-container matColumnDef="pending">
            <th mat-header-cell *matHeaderCellDef>Status</th>
            <td mat-cell *matCellDef="let activity">
                <button matTooltip="Your request to join is being approved" 
                    class="btn btn-info" *ngIf="containWaiting(activity,studentId) && !containEnrolled(activity,studentId)" 
                    [disabled]="true">
                    Waiting for approval
                </button>
                <button matTooltip="You have enrolled already" 
                    class="btn btn-warning" *ngIf="!containWaiting(activity,studentId) && containEnrolled(activity,studentId)" 
                    [disabled]="true">
                    Enrolled
                </button>
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <ng-container matColumnDef="withdraw">
                <th mat-header-cell *matHeaderCellDef>Withdraw</th>
                <td mat-cell *matCellDef="let activity">
                    <button matTooltip="Your request to join is being approved" 
                        class="btn btn-danger" (click)="withdraw(activity)" >
                        Withdraw
                    </button>
                </td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
    </table>

    <mat-paginator #paginator [length]="dataSource?.data.length" [pageIndex]="0" [pageSize]="50"
        [pageSizeOptions]="[25, 50, 100]"> </mat-paginator>
</div>