<!-- Content section -->
<div mat-dialog-content>
    <h2 class="text-center" mat-dialog-title>Pleae confirm your profile information</h2>
    <mat-divider></mat-divider>
            <form class="py-2" [formGroup]="form">
                    <!-- Student Id field -->
                    <div class="row">
                            <div class="col-sm">
                                    <mat-form-field class="full-width">
                                        <input [value]="data.studentId" readonly matInput placeholder="Student Id" formControlName="studentId">
                                    </mat-form-field>
                            </div>
                            <div class="col-sm">
                                <!--<button type="button" mat-raised-button class="center-button m-2" (click)="checkStudentId()">Validate Id</button>-->
                            </div>
                            <div class="col-sm">
                             
                            </div>
                    </div>
                    <!-- Name and surname Fields -->
                    <div class="row">
                            <div class="col-sm">
                                    <mat-form-field class="full-width">
                                            <input [value]="data.name" readonly matInput placeholder="First name" formControlName="name">
                                    </mat-form-field>
                            </div>
                            <div class="col-sm">
                                    <mat-form-field class="full-width">
                                            <input [value]="data.surname" readonly matInput placeholder="Surname" formControlName="surname">
                                    </mat-form-field>
                            </div>
                    </div>
                    <!-- Email Field -->
                    <div class="row">
                            <div class="col-sm-6">
                                    <mat-form-field class="full-width">
                                            <input [value]="data.email"readonly matInput placeholder="Email" formControlName="email" type="email" email>
                                    </mat-form-field>
                            </div>
                            <div class="col-sm-6">
                                <span>
                                    <mat-form-field class="full-width">
                                    <input [value]="data.dob" readonly matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" formControlName="dob" placeholder="Date of birth" >
                                    <mat-datepicker-toggle  [disabled]="true" matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>
                                </span>
                            </div>
                    </div>
                    <!-- Password Field -->
                    <div class="row">
                        <div class="col-sm-6">
                                <mat-form-field class="full-width">
                                    <input [value]="data.password" readonly matInput placeholder="Password" formControlName="password" [type]="!hide ? 'password' : 'text'" >
                                    <mat-icon matSuffix (click)="hide = !hide">{{!hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </mat-form-field>
                        </div>
                    </div>
                    <mat-divider></mat-divider>
                    <!-- Image input Field -->
                    <div class="row my-2">
                            <div class="col-sm-12">
                                    <div class="text-center">
                                            <img mat-card-image 
                                            id="preview" 
                                            class="rounded float" 
                                            #previewImg [attr.src]="imgsrc" 
                                            onerror="this.src='assets/images/person-icon.png'">
                                    </div>  
                            </div>
                    </div>
 
        </form>
</div>
<mat-divider></mat-divider>
<!-- Confirm section -->
    <div mat-dialog-actions>
            <button class="btn btn-default goBackBtn btn-danger center-block" 
                cdkFocusInitial mat-button 
                (click)="goBack()">
                Go back
            </button>
            <button mat-raised-button class="btn submitBtn btn-default btn-success center-block" 
                cdkFocusInitial mat-button 
                type="submit" (click)="submit()" 
                [disabled]="!form.valid">
                Confirm
            </button>
        </div>