.activityInfo-card {
    max-width: 100%
}
.mat-card-actions {
    margin-bottom: 0px;
    padding: 0px;
}
#fileUploader {
    padding-left: 0px;
}
#previewImg {
    max-height: 200px;
    max-width:  200px;
    border: 0px black solid;
    padding: 20px;
}
.activityHostImg {
    width:40px;
    height:40px;
}
/* Absolute Center Spinner */
.floatIcon {
    vertical-align: middle;
}
.loading-indicator {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  
  
  /* Transparent Overlay */
  
  .loading-indicator:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  }
