<div class="container">
        <div *ngIf="loading" class="loading-indicator">
                <mat-spinner></mat-spinner>
            </div>
    <mat-card class="activityInfo-card">
        <!-- Activity Information Title Here -->
        <mat-card-header>
            <mat-card-title>
                <h1>Activity Information</h1>
            </mat-card-title>
        </mat-card-header>
        <mat-card-header>
            <mat-card-subtitle>Hosted By {{activity?.host.name}} {{activity?.host.surname}}</mat-card-subtitle>
            <img mat-card-avatar [src]="activity?.host.image || defaultImageUrl">
        </mat-card-header>
        <!-- Activity Information Content Here -->
        <mat-card-content>
            <h4>{{activity?.name}}</h4>
            <mat-card-subtitle>Description</mat-card-subtitle>
            <p>{{activity?.description}}</p>
            <p><strong>Registeration period: </strong> {{activity?.regisPeriodStart | date}} <strong>~</strong>
                {{activity?.regisPeriodEnd | date}}</p>
            <p><strong>Starts from: </strong>{{activity?.activityPeriodStart | date:'MMM d, y,  h:mm a'}} <strong>~</strong>
                {{activity?.activityPeriodEnd | date:'MMM d, y,  h:mm a'}}</p>
            <p><strong>Location:</strong> {{activity?.location}}</p>
        </mat-card-content>
        <button class="btn btn-primary btn-md m-2" (click)="backtoActivityListPage()">
                <i class="material-icons floatIcon">keyboard_arrow_left</i>Go back</button>
    </mat-card>
    <br />
    <!-- Comment Here -->
    <mat-card *ngIf="hasRole( ['STUDENT','LECTURER'] )" class="comment-card">
        <mat-card-header>
            <img mat-card-avatar [src]="user.image || defaultImageUrl">
            <mat-card-title>
                Leave a Comment
            </mat-card-title>
            <mat-card-subtitle>{{user.name}} {{user.surname}}</mat-card-subtitle>
        </mat-card-header>
        <!-- Comment Box Here -->
        <form [formGroup]="form" (submit)="submitComment()">
        <mat-card-content>
            
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Comment</mat-label>
                    <textarea required matInput placeholder="Your Comment" cdkTextareaAutosize formControlName="text"></textarea>
                </mat-form-field>
           
        </mat-card-content>
        <div class="row">
            <div class="col-sm-10">
                <!-- Image Upload Here -->
                <form>
                    <mat-file-upload  #fileUploader 
                            [labelText]="''" 
                            [selectButtonText]="'Upload Image'" 
                            [uploadButtonText]="'Upload'" 
                            [allowMultipleFiles]="false" 
                            [showUploadButton]="false" 
                            [acceptedTypes]="'.png, .jpg, .jpeg'" 
                            [customSvgIcon]="'close_custom'" 
                            (uploadClicked)="onUploadClicked($event)"
                            (selectedFilesChanged)="onSelectedFilesChanged($event)">
                    </mat-file-upload>
                    <mat-progress-bar mode="determinate" [value]="progress" *ngIf="progress > 0"></mat-progress-bar>
                </form>
            </div>
            <div class="col-sm-2">
                    <mat-card-actions>
                            <button mat-icon-button matTooltip="Post Comment" [disabled]="form.invalid" type="submit" color="primary">
                                <mat-icon>send</mat-icon>
                            </button>
                    </mat-card-actions>
                </div>
            <div class="col-sm-12" >
                <div class="text-center">
                        <img mat-card-image
                        id="previewImg" 
                        
                        #previewImg [attr.src]="" 
                        onerror="this.src='assets/images/person-icon.png'">
                </div>  
        </div>
        </div>
        </form>     
        
        
    </mat-card>
    <!-- Posted Comments Here -->
    <mat-expansion-panel [disabled]="checkCommentSize()">
        <mat-expansion-panel-header>
            <mat-panel-title>{{activity?.comments.length}} Comments</mat-panel-title>
        </mat-expansion-panel-header>
        <!-- List of Posted Comments Here -->
        <mat-list>
            <mat-list-item *ngFor="let comment of activity?.comments">
                <img style="position: absolute; top:15px;left:-15px"matListAvatar [src]="comment.poster.image || defaultImageUrl">
                <h3 class="font-weight-bold" matLine>{{comment?.poster.name}} {{comment?.poster.surname}}</h3>
                <p matLine>{{comment?.text}}</p>
                <img matLine class="commentImg" *ngIf="comment.image != ''"
                style="max-width: 200px; height: 200px;"
                [src]="comment.image">
                <br matLine />
                <i class="material-icons">access_time</i>    
                <p matSubheader>{{comment?.time }}</p>
                <button *ngIf="hasRole(['ADMIN'])" mat-icon-button color="warn" (click)="removeComment(comment.id)">
                    <mat-icon>delete</mat-icon>
                </button>
                <mat-divider></mat-divider>
            </mat-list-item>
        </mat-list>
    </mat-expansion-panel>
</div>