<div class="mat-elevation-z8">
   <div *ngIf="loading" class="loading-indicator">
      <mat-spinner></mat-spinner>
    </div> 
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search for activity by name">
  </mat-form-field>
  <table mat-table #table matSort aria-label="Elements">
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
      <td mat-cell *matCellDef="let activity">{{activity.id}}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <!-- Name of the activity Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Activity name</th>
      <td mat-cell *matCellDef="let activity">{{activity.name}}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <!-- Location of the activity Column -->
    <ng-container matColumnDef="location">
      <th mat-header-cell *matHeaderCellDef>Location</th>
      <td mat-cell *matCellDef="let activity">{{activity.location}}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <!-- Host eacher Column -->
    <ng-container matColumnDef="hostTeacher">
      <th mat-header-cell *matHeaderCellDef>Host</th>
      <td mat-cell *matCellDef="let activity">{{activity.host.name +' '+ activity.host.surname}}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <!-- Register Time start Column -->
    <ng-container matColumnDef="regisPeriodStart">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Register period start</th>
      <td mat-cell *matCellDef="let activity">{{activity.regisPeriodStart | date }}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <!-- Register Time end Column -->
    <ng-container matColumnDef="regisPeriodEnd">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Register period end</th>
      <td mat-cell *matCellDef="let activity">{{activity.regisPeriodEnd | date}}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <!--Activity Time start Column -->
    <ng-container matColumnDef="activityPeriodStart">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Activity period start</th>
      <td mat-cell *matCellDef="let activity">{{activity.activityPeriodStart | date:'MMM d, y,  h:mm a'}}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <!--Activity Time end Column -->
    <ng-container matColumnDef="activityPeriodEnd">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Activity period end</th>
      <td mat-cell *matCellDef="let activity">{{activity.activityPeriodEnd | date:'MMM d, y,  h:mm a'}}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <!-- Details Column -->
    <ng-container matColumnDef="details">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let activity">
        <button mat-flat-button color="primary" matTooltip="Enroll this activity" (click)="routeToDetails(activity.id)">
          Detail
        </button>
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
  </table>

  <mat-paginator #paginator [length]="dataSource?.data.length" [pageIndex]="0" [pageSize]="50"
    [pageSizeOptions]="[25, 50]">
  </mat-paginator>
</div>