/* Structure */

table {
  width: 100%;
}
.full-width{
  width:100%;
}


.mat-form-field {
  font-size: 14px;
  width: 100%;
}
.mat-id-column {
  flex: 10%;
}
.studentBtn
{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	margin-top: 2px;
  width: 150px!important;
}

img {
  max-width: 11rem;
  max-height: 11rem;
}

tr.mat-footer-row {
  font-weight: bold;
}


.mat-cell {
  padding: 8px 8px 8px 0;
}

.approveBtn {
  max-width: 2rem;
}


.center-button {
  text-align: center;
  padding-left: .5em;
}

.center-text {
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
}
/* Absolute Center Spinner */

.loading-indicator {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}


/* Transparent Overlay */

.loading-indicator:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
.student-img {
  max-height: 150px;
 

}