<div class="mat-elevation-z8">
    <div *ngIf="loading" class="loading-indicator">
        <mat-spinner></mat-spinner>
    </div>
  <!-- Filter form -->
    <mat-form-field >
      <input class="full-width" matInput (keyup)="applyFilter($event.target.value)" placeholder="Search by Name/Surname">
    </mat-form-field>
    <table mat-table class="full-width-table" matSort aria-label="Elements">
      <!-- Id column -->
      <ng-container matColumnDef="id" >
        <th  mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
        <td  mat-cell *matCellDef="let student">{{student.id}}</td>
        <td  mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <!-- StudentId Column -->
      <ng-container matColumnDef="studentId">
        <th mat-header-cell *matHeaderCellDef>Student id</th>
        <td mat-cell *matCellDef="let student">{{student.studentId}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let student">{{student.name}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <!-- Surname Column -->
      <ng-container matColumnDef="surname">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Surname</th>
        <td mat-cell *matCellDef="let student">{{student.surname}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <!-- Email Column -->
      <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef >Email</th>
          <td mat-cell *matCellDef="let student">{{student.email}}</td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
      <!-- Date of Birth Column -->
      <ng-container matColumnDef="dob">
          <th mat-header-cell *matHeaderCellDef >Date of Birth</th>
          <td mat-cell *matCellDef="let student">{{student.dob | date }}</td>
          <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <!-- Image Column -->
      <ng-container matColumnDef="image">
        <th mat-header-cell *matHeaderCellDef class="center-text">Image</th>
        <td mat-cell *matCellDef="let student" class="center-text">
          <img class="rounded student-img" onerror="this.src='assets/images/person-icon.png'" [src]="student.image" [title]="student.name" class="img-fluid">
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <!-- Accept Column -->
      <!--
      <ng-container matColumnDef="accept">
        <th mat-header-cell *matHeaderCellDef>Accept</th>
        <td mat-cell *matCellDef="let student">
            <button  matTooltip="Accept this student"
            class="btn btn-success" [disabled]="student.approved" (click)="accept(student)">Accept</button>

        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>  
      -->                                                                                                                                                                                                                                                                                            
      <!-- Reject Column -->
      <!--
      <ng-container matColumnDef="reject">
        <th mat-header-cell *matHeaderCellDef>Reject</th>
        <td mat-cell *matCellDef="let student">
            <button matTooltip="Reject this student"
            class="btn btn-danger"  [disabled]="student.approved" (click)="reject(student)">Reject</button>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
       -->  
      <!-- Approval Column -->
      <ng-container matColumnDef="approval">
          <th mat-header-cell *matHeaderCellDef>Account Approval</th>
          <td mat-cell *matCellDef="let student">
              <button  matTooltip="Enable this student"
                class="btn btn-success" *ngIf="!student.approved"[disabled]="student.approved" (click)="accept(student)">Enable</button>
                <button matTooltip="Disable this student"
                class="btn btn-danger" *ngIf="student.approved" [disabled]="!student.approved" (click)="reject(student)">Disable</button>
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>  

      
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
    </table>
  
    <mat-paginator #paginator [length]="dataSource?.data.length"  [pageIndex]="0"  [pageSize]="50" [pageSizeOptions]="[25, 50, 100]"> </mat-paginator>
  </div>
