<div class="mat-elevation-z8">
   <div *ngIf="loading" class="loading-indicator">
      <mat-spinner></mat-spinner>
    </div> 
<!-- Date filter block -->
<mat-card class="filter-card" style="text-align: center;" class="filter-form mx-auto py-2">
    <mat-card-title >Activity list</mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content class="p-2">
    <form class="date-block" [formGroup]="filterForm">
            <div class="row">
                <div class="col-sm-6">
                    <div class="date-block__list">
                    <mat-form-field>
                        <input readonly matInput [matDatepicker]="fromDate" placeholder="Register Start Date"
                            formControlName="fromDate">
                        <mat-datepicker-toggle matSuffix [for]="fromDate"></mat-datepicker-toggle>
                        <mat-datepicker #fromDate></mat-datepicker>
                    </mat-form-field>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="date-block__list">
                    <mat-form-field>
                        <input readonly matInput [matDatepicker]="toDate" placeholder="Register End Date"
                            formControlName="toDate">
                        <mat-datepicker-toggle matSuffix [for]="toDate"></mat-datepicker-toggle>
                        <mat-datepicker #toDate></mat-datepicker>
                    </mat-form-field>
                    </div>
                </div>       
            </div>
            <div class="row">
                <div class="col-sm-6 mx-auto">
                    <mat-form-field>
                    <input formControlName="name" class="full-width" matInput placeholder="Name">
                    </mat-form-field>
                </div>
            </div >
            <mat-divider></mat-divider>
            <div class="row">
                    <div class="col-sm-6 pt-2 ">
                        <div class="center">      
                            <!--Reset filter-->
                                <button class="full-width" 
                                [disabled]="!filterForm.valid" 
                                mat-button color="primary"
                                (click)="reset()">
                                <i class="material-icons">replay</i>Reset</button>
                        </div>
                    </div>
                    <div class="col-sm-6 pt-2 ">
                            <!--Search-->
                            <button class="full-width"[disabled]="!filterForm.valid" mat-raised-button color="primary"
                            (click)="filterResult(filterForm.value)"><i class="material-icons">search</i>Search</button>                  
                    </div>
            </div>   
    </form>
</mat-card-content>
    </mat-card>
  <table mat-table #table  matSort aria-label="Elements">
    <!-- Id Column -->
    <ng-container matColumnDef="id" >
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
      <td mat-cell *matCellDef="let activity">{{activity.id}}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <!-- Name of the activity Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Activity name</th>
      <td mat-cell *matCellDef="let activity">{{activity.name}}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <!-- Location of the activity Column -->
    <ng-container matColumnDef="location">
      <th mat-header-cell *matHeaderCellDef >Location</th>
      <td mat-cell *matCellDef="let activity">{{activity.location}}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <!-- Host eacher Column -->
    <ng-container matColumnDef="hostTeacher">
      <th mat-header-cell *matHeaderCellDef >Host</th>
      <td mat-cell *matCellDef="let activity"> {{ activity.host.name }} {{ activity.host.surname }}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
     <!-- Register Time start Column -->
     <ng-container matColumnDef="regisPeriodStart">
      <th mat-header-cell *matHeaderCellDef >Register period start</th>
      <td mat-cell *matCellDef="let activity">{{activity.regisPeriodStart | date }}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <!-- Register Time end Column -->
    <ng-container matColumnDef="regisPeriodEnd">
      <th mat-header-cell *matHeaderCellDef >Register period end</th>
      <td mat-cell *matCellDef="let activity">{{activity.regisPeriodEnd | date}}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
   <!--Activity Time start Column -->
    <ng-container matColumnDef="activityPeriodStart">
      <th mat-header-cell *matHeaderCellDef >Activity period start</th>
      <td mat-cell *matCellDef="let activity">{{activity.activityPeriodStart | date:'MMM d, y,  h:mm a'}}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
  <!--Activity Time end Column -->
      <ng-container matColumnDef="activityPeriodEnd">
        <th mat-header-cell *matHeaderCellDef >Activity period end</th>
        <td mat-cell *matCellDef="let activity">{{activity.activityPeriodStart | date:'MMM d, y,  h:mm a'}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
  <!-- Details Column -->
  <ng-container matColumnDef="details">
    <th mat-header-cell *matHeaderCellDef>Details</th>
    <td mat-cell *matCellDef="let activity">
      <button mat-flat-button color="primary" matTooltip="Enter detail page" (click)="routeToDetails(activity.id)">
        Detail
      </button>
    </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>
  <!-- Edit info column -->
     <ng-container matColumnDef="update">
        <th mat-header-cell *matHeaderCellDef >Update</th>
        <td mat-cell *matCellDef="let activity">
          <button class="btn btn-info" (click)="routeToEditPage(activity.id)">Update</button>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
  <!-- Students column -->
     <ng-container matColumnDef="students">
      <th mat-header-cell *matHeaderCellDef >Students</th>
      <td mat-cell *matCellDef="let activity">
        <button class="btn btn-warning" (click)="routeToStudentListPage(activity.id)">
          Students
        <span class="badge badge-light">{{activity.enrolledStudents.length + activity.waitingStudents.length}} student(s)</span>
        </button>
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
   
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
  </table>

  <mat-paginator #paginator [length]="dataSource?.data?.length" [pageIndex]="0" [pageSize]="50"
    [pageSizeOptions]="[25, 50]">
  </mat-paginator>
</div>
