
.full-width {
	width: 100%;
}
.register-card {
    max-width: 700px;
    margin: auto;
    margin-top: 5%;
}
.example-form {
    min-width: 100px;
    max-width: 600px;
    
}
/* Absolute Center Spinner */

.loading-indicator {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  
  
  /* Transparent Overlay */
  
  .loading-indicator:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  }