<div class="container">
                <div *ngIf="loading" class="loading-indicator">
                                <mat-spinner></mat-spinner>
                              </div> 
        <mat-card class="register-card" style="text-align: center;">
    
                <mat-card-title >Edit activity</mat-card-title>
                <mat-divider></mat-divider>
                <mat-card-content class="p-2">
                <form style="margin: 1em" [formGroup]="form" (submit)="submit()">
                <!-- Name field -->
                <div class="row">
                        <h6>Name</h6>
                        <div class="w-100"></div>
                        <div class="col-sm">
                                <mat-form-field class="full-width">
                                    <input matInput [value]="activity.name" placeholder="Activity name" formControlName="name" required #spy>
                                    
                                    <mat-error *ngFor="let validation of validation_messages.name">
                                            <mat-error class="error-message"
                                            *ngIf="form.get('name').hasError(validation.type) &&
                                            (form.get('name').dirty ||
                                            form.get('name').touched)">{{validation.message}}</mat-error>
                                          </mat-error>
                                    
                                </mat-form-field>
                        </div>
                       
                </div>
                <!-- Location Field -->
                <div class="row">
                        <h6>Location</h6>
                        <div class="w-100"></div>
                        <div class="col-sm">
                                <mat-form-field class="full-width">
                                        <input matInput [value]="activity.location" placeholder="Location" formControlName="location" required>
                                        
                                            <mat-error *ngFor="let validation of validation_messages.location">
                                                <mat-error class="error-message"
                                                *ngIf="form.get('location').hasError(validation.type) &&
                                                (form.get('location').dirty ||
                                                form.get('location').touched)">{{validation.message}}</mat-error>
                                              </mat-error>
                                            
                                </mat-form-field>
                        </div>
                </div>
                <!-- Description Field -->
                <div class="row">
                        <h6>Description</h6>
                        <div class="w-100"></div>
                        <div class="col-sm">
                                <mat-form-field class="full-width">
                                        <textarea [value]="activity.description" style="min-height:70px" matInput placeholder="Description" formControlName="description" required>
                                        </textarea>
                                        <mat-error *ngFor="let validation of validation_messages.description">
                                                <mat-error class="error-message"
                                                *ngIf="form.get('description').hasError(validation.type) &&
                                                (form.get('description').dirty ||
                                                form.get('description').touched)">{{validation.message}}</mat-error>
                                              </mat-error>
                                            
                                </mat-form-field>
                        </div>
                </div>
                <!-- Register Period Start Field -->
                <div class="row">
                        <h6>Select registration start date</h6>
                        <div class="w-100"></div>
                        <div class="col-sm-12">
                            <div class="col-sm-6 py-2">           
                                    <span>
                                            <mat-form-field class="full-width">
                                            <input readonly matInput [matDatepicker]="picker1" formControlName="regisPeriodStart" placeholder="Select registration start date" required>
                                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                            <mat-datepicker #picker1></mat-datepicker>
                                        </mat-form-field>
                                     </span>
                            </div>
                        </div>
                </div>
                <!-- Register Period End Field -->
                <div class="row">
                        <h6>Select registration end date</h6>
                        <div class="w-100"></div>
                        <div class="col-sm-12">
                            <div class="col-sm-6 py-2">                             
                                    <mat-form-field class="full-width">
                                            <input readonly matInput [matDatepicker]="picker2" formControlName="regisPeriodEnd" placeholder="Select registration end date" required>
                                            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                            <mat-datepicker #picker2></mat-datepicker>
                                        </mat-form-field>
                            </div>
                        </div>
                </div>
                <!-- Activity Period Start Field -->
                <div class="row">
                        <h6>Select activity start date</h6>
                        <div class="w-100"></div>
                        <div class="col-sm-12">
                            <div class="col-sm-6 py-2">           
                                    <mat-form-field class="full-width">
                                            <input readonly matInput [matDatepicker]="picker3" formControlName="activityPeriodStart" placeholder="Select activity start date" required>
                                            <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                                            <mat-datepicker #picker3 ></mat-datepicker>
                                        </mat-form-field>         
                            </div>
                            <div class="col-sm-6 py-2">           
                                        <material-timepicker 
                                        color="primary" 
                                        label="Starting Time" 
                                        appearance="outline" 
                                        [userTime]="activityStartTime"
                                        (change)="onChangeactivityStartTime($event)">
                                </material-timepicker>
                            </div>
                        </div>
                </div>
                <!-- Activity Period End Field -->
                <div class="row">
                        <h6>Select activity end date</h6>
                        <div class="w-100"></div>
                        <div class="col-sm-12">
                            <div class="col-sm-6 py-2">                             
                                    <mat-form-field class="full-width">
                                            <input readonly matInput [matDatepicker]="picker4" formControlName="activityPeriodEnd" placeholder="Select registration end date" required>
                                            <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                                            <mat-datepicker #picker4></mat-datepicker>
                                        </mat-form-field>    
                            </div>
                            <div class="col-sm-6 py-2">           
                                        <material-timepicker 
                                        color="primary" 
                                        label="Ending Time" 
                                        appearance="outline" 
                                        [userTime]="activityEndTime"
                                        (change)="onChangeactivityEndTime($event)">
                                </material-timepicker>
                            </div>
                        </div>
                </div>
                        
                <mat-divider></mat-divider>
                        <!-- Submit button -->
                        <div class="center p-4">
                            <button type="button" mat-raised-button color="primary" class="m-2" (click)="exit()" >Exit</button>
                            <button mat-raised-button color="primary" class="m-2" type="submit" [disabled]="!form.valid" >Submit</button>
                        </div>
                    
                      </form>
                    </mat-card-content>
              
          
            </mat-card>

</div>