<div class="mat-elevation-z8">
    <div *ngIf="loading" class="loading-indicator">
        <mat-spinner></mat-spinner>
      </div> 
    <button class="btn btn-primary btn-lg m-2" (click)="backtoActivityListPage()">Go back</button>
    <!-- Filter form -->
  <mat-form-field >
    <input class="full-width" matInput (keyup)="applyFilter($event.target.value)" placeholder="Search by Name/Surname">
  </mat-form-field>
  <table mat-table #table class="full-width-table" matSort aria-label="Elements">
    <!-- Id column -->
    <ng-container matColumnDef="id" >
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
      <td mat-cell *matCellDef="let student">{{student.id}}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <!-- StudentId Column -->
    <ng-container matColumnDef="studentId">
      <th mat-header-cell *matHeaderCellDef>Student id</th>
      <td mat-cell *matCellDef="let student">{{student.studentId}}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let student">{{student.name}}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <!-- Surname Column -->
    <ng-container matColumnDef="surname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Surname</th>
      <td mat-cell *matCellDef="let student">{{student.surname}}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <!-- Email Column -->
    <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef >Email</th>
        <td mat-cell *matCellDef="let student">{{student.email}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
        <!-- Image Column -->
        <ng-container matColumnDef="image">
            <th mat-header-cell *matHeaderCellDef class="center-text">Image</th>
            <td mat-cell *matCellDef="let student" class="center-text">
              <img class="rounded student-img" onerror="this.src='assets/images/person-icon.png'" [src]="student.image" [title]="student.name" class="img-fluid">
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>
    <!-- Accept Column -->
    <ng-container matColumnDef="approval">
      <th mat-header-cell *matHeaderCellDef>Approve</th>
      <td mat-cell *matCellDef="let student">
          <!--<i  *ngIf="isEnrolled(student.id)" class="material-icons text-success text-center">done</i> -->
          <button  matTooltip="Approve this student for this activity" *ngIf="!isEnrolled(student.id)"
          class="btn btn-primary" (click)="moveToEnroll(activity,student.id)">Accept Enrollment</button>
          <button matTooltip="Enrollment accpeted" *ngIf="isEnrolled(student.id)"
          class="btn btn-success" disabled="isEnrolled(student.id)" >Enrollment Accpeted</button>
        </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>                                                                                                                                                                                                                                                                                              
    <!-- Reject Column -->
    <ng-container matColumnDef="reject">
      <th mat-header-cell *matHeaderCellDef>Reject</th>
      <td mat-cell *matCellDef="let student">
          <button matTooltip="Reject this student for this activity" *ngIf="!isEnrolled(student.id)"
          class="btn btn-danger"  [disabled]="isEnrolled(student.id)" (click)="withdraw(activity,student.id)">Reject enrollment</button>
          <button matTooltip="Remove this student for this activity" *ngIf="isEnrolled(student.id)"
          class="btn btn-danger"  [disabled]="!isEnrolled(student.id)" (click)="withdraw(activity,student.id)">Remove</button>
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
  </table>

  <mat-paginator #paginator [length]="dataSource?.data.length"  [pageIndex]="0"  [pageSize]="50" [pageSizeOptions]="[25, 50, 100]"> </mat-paginator>
</div>
