
<div mat-dialog-content>
    <h4 mat-dialog-title>{{title}}</h4>
  <form style="text-align: center;" [formGroup]="form" (submit)="submit()">
    <!-- Input current password -->
    <mat-form-field>
      <input [type]="!hide ? 'password' : 'text'" matInput formControlName="password" [(ngModel)]="currentPassword" placeholder="Enter current password">
      <mat-icon matSuffix (click)="hide = !hide">{{!hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      <mat-error *ngFor="let validation of validation_messages.password">
          <mat-error class="error-message" *ngIf="form.get('password').hasError(validation.type) &&
              (form.get('password').dirty ||
              form.get('password').touched)">{{validation.message}}</mat-error>
      </mat-error>
    </mat-form-field>
    <!-- Input new and new confirmed password -->
    <mat-form-field *ngIf="data.changePassword">
        <input [type]="!hide ? 'password' : 'text'" matInput formControlName="newPassword" [(ngModel)]="newPassword" placeholder="Enter new password">
        <mat-icon matSuffix (click)="hide = !hide">{{!hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        <mat-error *ngFor="let validation of validation_messages.newPassword">
            <mat-error class="error-message" *ngIf="form.get('newPassword').hasError(validation.type) &&
                    (form.get('newPassword').dirty ||
                    form.get('newPassword').touched)">{{validation.message}}</mat-error>
        </mat-error>
      </mat-form-field>
      <mat-form-field *ngIf="data.changePassword">
          <input [type]="!hide ? 'password' : 'text'" matInput formControlName="confirmNewPassword" [(ngModel)]="confirmNewPassword" placeholder="Enter confirm new password">
          <mat-icon matSuffix (click)="hide = !hide">{{!hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          <mat-error *ngFor="let validation of validation_messages.confirmNewPassword">
              <mat-error class="error-message" *ngIf="form.get('confirmNewPassword').hasError(validation.type) &&
                      (form.get('confirmNewPassword').dirty ||
                      form.get('confirmNewPassword').touched)">{{validation.message}}</mat-error>
          </mat-error>
        </mat-form-field>
  </form>
      <mat-error *ngIf="unmatchedPassword">
            <div class="alert alert-danger" role="alert">
                    <div class="vertical-align">
                        <i class="material-icons floatIcon">error</i>
                        <strong>Your current password is not correct!</strong>
                    </div>
                </div>
      </mat-error>

</div>
<div mat-dialog-actions>
    <button class="btn btn-default goBackBtn btn-danger center-block" 
        cdkFocusInitial mat-button 
        (click)="goBack()">
        Go back
    </button>
    <button mat-raised-button class="btn submitBtn btn-default btn-success center-block" 
        cdkFocusInitial mat-button 
        type="submit" (click)="submit()" 
        [disabled]="!form.valid">
        Update
    </button>
</div>
