.login-card {
    max-width: 400px;
    margin: auto;
    margin-top: 5%;
}
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}
.full-width {
    width: 100%;
  }
i.icon {
    vertical-align: middle;
}

.loading-indicator {
	position: fixed;
	z-index: 999;
	height: 2em;
	width: 2em;
	overflow: show;
	margin: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
  }
  
  
  /* Transparent Overlay */
  
  .loading-indicator:before {
	content: '';
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
  }
  