<div class="container">
    <div *ngIf="authenticating" class="loading-indicator">
        <mat-spinner></mat-spinner>
    </div>
<mat-card class="login-card" style="text-align: center;">
    
      <mat-card-title >Log in</mat-card-title>
      <mat-divider></mat-divider>
    <form class="example-form" [formGroup]="form" (submit)="submit()">
        <mat-card-content class="p-2">
          <mat-form-field class="full-width">
            <input matInput type="email" formControlName="username" placeholder="Email" required>
          </mat-form-field>
  
          <mat-form-field class="full-width">
            <input matInput type="password" [type]="!hide ? 'password' : 'text'" formControlName="password" placeholder="Password" required>
            <mat-icon matSuffix (click)="hide = !hide">{{!hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
            <button color="primary" [disabled]="!form.valid" mat-raised-button >Log in</button>
          </mat-card-actions>
    </form>
    <mat-error *ngIf="!fromHomePage">
        <div class="alert alert-info" role="alert">
            <div class="vertical-align">
                <i class="material-icons icon">supervisor_account</i>
                <strong>Please login with correct role to access this page!</strong>
            </div>
        </div>
    </mat-error>
    <mat-error *ngIf="isError">
        <div class="alert alert-danger" role="alert">
            <div class="vertical-align">
                <i class="material-icons icon">error</i>
                <strong>Incorrect username and password!</strong>
            </div>
        </div>
    </mat-error>
    <mat-error *ngIf="notApproved">
        <div class="alert alert-warning" role="alert">
            <div class="vertical-align">
                <i class="material-icons icon">how_to_reg</i>
                <strong>Please wait for your account validation from admin</strong>
            </div>
        </div>
      </mat-error>
    
    <mat-divider></mat-divider>
        <mat-card-content class="p-2">
            <p>
                First time student using this? Sign up here
            </p>
            <mat-card-actions>
                <button color="primary" mat-raised-button [routerLink]="['../register']">
                  <i class="material-icons icon">how_to_reg</i>
                  Sign up as Student
                </button>
            </mat-card-actions>
        </mat-card-content>
  </mat-card>
</div>