.full-width {
	width: 100%;
  }
  
  .center-button {
	text-align: center;
	padding-left: .5em;
	min-width: 0.5rem;
	max-width: 0.5rem;
  }
  
  .center-text {
	text-align: center;
  }
  
  .center {
	display: flex;
	justify-content: center;
  }
  .leftBtn {
	display: flex;
	justify-content: flex-start;
  }

	#previewImg {
		max-height: 500px;
		max-width:  15rem;
		margin: 2rem;
		border: 2px black solid;
	}
	.register-card {
		max-width: 700px;
		margin: auto;
		margin-top: 5%;
	}
	.example-form {
		min-width: 100px;
		max-width: 600px;
		
	}
	i.icon {
		vertical-align: middle;
	}
	    /* Absolute Center Spinner */

.loading-indicator {
	position: fixed;
	z-index: 999;
	height: 2em;
	width: 2em;
	overflow: show;
	margin: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
  }
  
  
  /* Transparent Overlay */
  
  .loading-indicator:before {
	content: '';
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
  }
  