#previewImg {
    max-height: 500px;
    max-width:  15rem;
    margin: 2rem;
    border: 2px black solid;
}
.full-width {
	width: 100%;
}
.register-card {
    max-width: 700px;
    margin: auto;
    margin-top: 5%;
}
.example-form {
    min-width: 100px;
    max-width: 600px;
    
}
i.icon {
    vertical-align: middle;
}
