<div style="height: 100vh;">
<mat-sidenav-container class="sidenav-container">
    <mat-sidenav position="end" *ngIf="hasRole('LECTURER,STUDENT,ADMIN')" #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
        <!-- User card -->
        <mat-card *ngIf="user">
            <!-- Profile image which acts as additional menu -->
            <img class="profileMenuImg m-2" mat-card-lg-image [src]="user.image || defaultImageUrl" [matMenuTriggerFor]="menu">
            
            <!-- Menu -->
            <mat-menu #menu="matMenu">
                    <!-- Profile -->
                    <a *ngIf="hasRole('STUDENT')" mat-menu-item style="text-decoration:none" [routerLink]="['student/profile']"
                    routerLinkActive="router-link-active">
                        <i class="material-icons floatIcon">person</i>Profile
                    </a>
                    <!-- Log out -->
                    <a mat-menu-item style="text-decoration:none" (click)="logout()"
                        routerLinkActive="router-link">
                        <i class="material-icons floatIcon">home</i>Log out
                    </a>
            </mat-menu>

            <mat-divider></mat-divider>
             <!-- Show user's name -->
             <mat-card-title class="text-left pt-2">
                {{ user.name + " " + user.surname }}
            </mat-card-title>
            <mat-divider></mat-divider>
            <!-- Show Role-->
            <mat-card-subtitle class="roleTitle  pt-3 text-info">
                <i class="material-icons floatIcon">group</i> Role : {{ this.getRole() }} 
            </mat-card-subtitle>
            <mat-divider></mat-divider>      
        </mat-card>
        <!-- Navigation list for student -->
        <mat-nav-list *ngIf="hasRole('STUDENT')">
            <h3 mat-subheader>Activity</h3>
            <mat-list-item [routerLink]="['/student/viewlist']" 
                    routerLinkActive="router-link-active"> 
                <a>
                    <i class="material-icons floatIcon">search</i>Search
                </a>
            </mat-list-item>
            <mat-list-item [routerLink]="['/student/enrolledlist']"
            routerLinkActive="router-link-active">
                <a>
                    <i class="material-icons floatIcon">library_books</i>View Waiting/Enrolled
                </a>
            </mat-list-item>
        </mat-nav-list>
        <!-- Navigation list for teacher -->
        <mat-nav-list *ngIf="hasRole('LECTURER')">
                <h3 mat-subheader>Activity</h3>
                <mat-list-item [routerLink]="['teacher/activitylist']" 
                routerLinkActive="router-link-active">
                        <a >
                            <i class="material-icons floatIcon">library_books</i>View
                        </a>
                </mat-list-item>
        </mat-nav-list>
        <!-- Navigation list for admin -->
        <mat-nav-list *ngIf="hasRole('ADMIN')">
                <h3 mat-subheader>Activity</h3>
                <mat-list-item mat-list-item [routerLink]="['admin/activitylist']" 
                routerLinkActive="router-link-active">
                    <a >
                        <i class="material-icons floatIcon">library_books</i>View
                    </a>
                </mat-list-item>
                <mat-list-item mat-list-item [routerLink]="['admin/addactivity']"
                routerLinkActive="router-link-active">
                    <a >
                        <i class="material-icons floatIcon">library_add</i>Add
                    </a>
                </mat-list-item>
                <h3 mat-subheader>Student</h3>
                <mat-list-item mat-list-item [routerLink]="['admin/studentlist']"
                routerLinkActive="router-link-active">
                    <a >
                        <i class="material-icons floatIcon">account_box</i>View
                    </a>
                </mat-list-item>
        </mat-nav-list>
        <mat-divider></mat-divider>
        <div class="text-center" *ngIf="hasRole('LECTURER,STUDENT,ADMIN')">
        <a class="full-width my-5" style="text-decoration:none" (click)="logout()"
            mat-raised-button color="warn" routerLinkActive="router-link">
            <i class="material-icons floatIcon">home</i>Log out
        </a>
    </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
                *ngIf="isHandset$ | async">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <span>Learning through Activity</span>
        </mat-toolbar>
        <!-- Add Content Here -->
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
</div>