.post-content {
    margin: 0 auto;
    margin-top: -54px;
    text-align:center;
    position: relative;
    width:40%;  
}

.thumbnail {
    margin:0 auto;
    text-align:center;
}

.wrapper {
    text-align:center;
}
.errorText {
        font-family: Impact,Haettenschweiler,Franklin Gothic Bold,Charcoal,Helvetica Inserat,Bitstream Vera Sans Bold,Arial Black,sans serif; 
        text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
        color:white;
        font-size: 3rem;
}