<div class="bg-white">
    <div class="container" *ngIf="guessIWillDie">
        <div class="row ">
            <div class="col-sm">
                <img class="errorImg text-center rounded" src="https://i.kym-cdn.com/photos/images/original/001/231/999/ba5.jpg">
            </div>
            <div class="col-sm">
                <h1 class="display-2">Oops, guess I'll die</h1>
                <button color="primary" mat-raised-button [routerLink]="['login']">Go back to login</button>
            </div>
        </div>
    </div>
    <div class="container" *ngIf="!guessIWillDie">
            <div class="row ">
                <div class="col-l-12">
                    <img class="errorImg text-center rounded" src="https://i.kym-cdn.com/photos/images/original/001/372/199/96c.jpg">
                    <div class="wrapper">
                            <div class="caption post-content">
                                        <h1 class="errorText">Is this an error page?</h1>  
                                        <button color="primary" mat-raised-button [routerLink]="['login']">Go back to login</button>                             
                            </div>
                    </div>                    
            </div>
        </div>
    </div>
</div>
